:root {
  --altura-linha-questao-resposta: 2.5rem;
}

section {
  display: flex;
  flex-direction: column;
}

section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -- Divs de Título das Seções -- */
.div-titulo-section:has(h2):has(.button-esconder-mostrar-elemento) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.div-titulo-section:has(h2):has(.button-esconder-mostrar-elemento)
  .button-esconder-mostrar-elemento {
  margin: auto 0 0.75rem 0;
}

/* ---------- Seção Informações da Prova ---------- */
#section-informacoes-prova {
  align-items: center;
}

/* -------- Formulário Informações da Prova -------- */
#form-informacoes-prova {
  width: fit-content;
  gap: 1rem;
}

/* ------ Fieldsets Informações da Prova ------ */
#form-informacoes-prova fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*
#fieldset-edicao-prova {
}
*/

#fieldset-edicao-prova div {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  gap: 0.75rem;
}

#form-informacoes-prova select {
  width: 100%;
}
#form-informacoes-prova select,
#form-informacoes-prova button {
  height: 100%;
  height: -webkit-fill-available;
}

/*
#fieldset-cor-prova-dia-1 {
}

#fieldset-cor-prova-dia-2 {
}

#fieldset-lingua-estrangeira {
}
*/

/* ---------- Seção Texto das Questões/Respostas ---------- */
#section-texto-questoes-respostas {
  align-items: center;
}

#form-texto-questoes-respostas {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#form-texto-questoes-respostas,
#form-texto-questoes-respostas .div-row-of-buttons {
  gap: 1rem;
}

#form-texto-questoes-respostas .div-row-of-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#textarea-questoes-respostas {
  max-height: 50dvh;
  background-color: var(--bg-color-2);
  color: var(--accent-color-1);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* ------ Botão Carregar Texto Questões/Respostas ------ */
#button-carregar-texto-questoes-respostas {
  width: 100%;
  margin: 0 auto;
}

/* ---------- Seção Questões/Respostas ---------- */
#section-questoes-respostas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------- Formulário Questões/Respostas -------- */
#form-questoes-respostas {
  display: grid;
  width: 100%;
  gap: 1rem;
}

/* ------ Fieldsets Questões/Respostas ------ */
.fieldset-questoes-respostas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---- Disciplinas da Área do Conhecimento ---- */
.fieldset-questoes-respostas .p-disciplinas {
  margin-bottom: 1rem;
}

/* ---- Questões/Respostas ---- */
.div-questoes-respostas {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* -- Linhas das Questões/Respostas -- */
.div-questoes-respostas .div-linha {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  height: var(--altura-linha-questao-resposta);
  padding: 0.5rem;
  /* Cria um Container */
  container-type: size;
}

/* -- Bordas das Linhas das Questões/Respostas -- */
.div-questoes-respostas .div-linha:first-child {
  border-radius: 1rem 1rem 0 0;
}
.div-questoes-respostas .div-linha:last-child {
  border-radius: 0 0 1rem 1rem;
}

/* -- Número da Questão -- */
.div-questoes-respostas .div-linha p {
  font-size: 75cqh;
  line-height: 100cqh;
  color: var(--bg-color-4);
  border-radius: 0.75rem;
  background-color: var(--bg-color-1);
  width: 100%;
  text-align: center;
}

/* -- Alternativas -- */
.div-questoes-respostas .div-linha input[type="radio"] {
  height: 100cqh;
  width: 100cqh;
  color: black;
  background-color: white;
}

/* Marcador */
input[type="radio"]::before {
  border: 0.1rem solid transparent;
}

/* Letra da Alternativa */
.div-questoes-respostas .div-linha input[type="radio"]::after {
  position: absolute;
  font-size: 60cqh;
  line-height: 60cqh;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-questoes-respostas .div-linha input[type="radio"]:nth-child(2)::after {
  content: "A";
}
.div-questoes-respostas .div-linha input[type="radio"]:nth-child(3)::after {
  content: "B";
}
.div-questoes-respostas .div-linha input[type="radio"]:nth-child(4)::after {
  content: "C";
}
.div-questoes-respostas .div-linha input[type="radio"]:nth-child(5)::after {
  content: "D";
}
.div-questoes-respostas .div-linha input[type="radio"]:nth-child(6)::after {
  content: "E";
}

/* Alternativa Marcada */
.div-questoes-respostas .div-linha input[type="radio"]:checked::after {
  color: white;
}

/* ------ Botão Corrigir Questões/Respostas ------ */
.button-corrigir-questoes-respostas {
  width: 100%;
  margin: 0 auto;
}

/* ---------- Seção Análises ---------- */
#div-conteudo-analise {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* -------- Div Dados de Análise -------- */
.div-dados-analise {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* -------- Div Dados de Erros -------- */
.div-erros-analise,
.div-erros-analise > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

/* ------ Div Porcentagem de Acertos ------ */
.div-porcentagem-acertos {
  background: radial-gradient(
      closest-side,
      var(--bg-color-1) 75%,
      transparent 80% 100%
    ),
    conic-gradient(
      rgb(0, 199, 0) calc(var(--progress-value) * 1%),
      rgb(190, 0, 0) 0
    );
}

.div-porcentagem-acertos::before {
  content: none;
  color: var(--accent-color-1);
}

/* ------ Div Acertos e Erros ------ */
.div-acertos-erros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
