/* ================================
   MOBILE FIRST BREAKPOINTS
   ================================ */

/* Base: até 480px
   - Smartphones pequenos (iPhone SE, Android compactos)
*/

/* 480px — Smartphones médios/grandes */
@media (min-width: 480px) {
  #form-texto-questoes-respostas,
  .div-questoes-respostas {
    max-width: 360px;
  }
}

/* 600px — Smartphones grandes e pequenos tablets em modo retrato */
@media (min-width: 600px) {
}

/* 768px — Tablets padrão (iPad em retrato) */
@media (min-width: 768px) {
  #form-questoes-respostas {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  #form-texto-questoes-respostas,
  .div-questoes-respostas {
    max-width: 800px;
  }

  #form-texto-questoes-respostas .div-row-of-buttons {
    flex-direction: row;
    gap: 2rem;
  }

  #form-texto-questoes-respostas div button {
    margin: 0;
  }

  .div-questoes-respostas {
    width: 100%;
    height: calc(15 * var(--altura-linha-questao-resposta));
    flex-wrap: wrap;
  }

  /* - Bordas das Linhas das Questões/Respostas - */
  .div-questoes-respostas .div-linha:first-child {
    border-radius: 1rem 0 0 0;
  }
  .div-questoes-respostas .div-linha:nth-child(15) {
    border-radius: 0 0 0 1rem;
  }
  .div-questoes-respostas .div-linha:nth-child(31) {
    border-radius: 0 1rem 0 0;
  }
  .div-questoes-respostas .div-linha:last-child {
    border-radius: 0 0 1rem 0;
  }
}

/* 1024px — Tablets em paisagem / Laptops bem pequenos */
@media (min-width: 1024px) {
}

/* 1280px — Laptops comuns e desktops pequenos */
@media (min-width: 1280px) {
}

/* 1536px — Monitores grandes */
@media (min-width: 1536px) {
  body {
    margin: 0 2rem;
  }

  #form-texto-questoes-respostas {
    max-width: 1200px;
  }

  #form-questoes-respostas {
    max-width: 2000px;
    grid-template-columns: repeat(2, 1fr);
  }

  .div-questoes-respostas {
    width: 100%;
    height: calc(15 * var(--altura-linha-questao-resposta));
    flex-wrap: wrap;
  }

  /* - Bordas das Linhas das Questões/Respostas - */
  .div-questoes-respostas .div-linha:first-child {
    border-radius: 1rem 0 0 0;
  }
  .div-questoes-respostas .div-linha:nth-child(15) {
    border-radius: 0 0 0 1rem;
  }
  .div-questoes-respostas .div-linha:nth-child(31) {
    border-radius: 0 1rem 0 0;
  }
  .div-questoes-respostas .div-linha:last-child {
    border-radius: 0 0 1rem 0;
  }

  #form-questoes-respostas .button-corrigir-questoes-respostas {
    /* Ocupa as colunas 1 e 2 */
    /* Começa na coluna 1 (início do grid) e vai até a coluna 3, que é o começo da terceira coluna). */
    grid-column: 1 / 3;
  }
}
